.sidebar{
    display: flex;
    flex:0.35;
    flex-direction: column;
    border-radius: 38px 0 0 0;
    /* background-color:#FF5151; */
    background-color:#142F43;
}

.sidebar-heading{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    /* background-color:#88E0EF; */
    /* color:rgb(209, 224, 226); */
    color:#FF5151;
    height: 100px;
    align-items:center;
    border-radius: 38px 0 0 0;
    /* border-bottom:1px solid #FF5151; */
    padding-top:18px;
    padding-bottom: 19px;
}
.sidebar-header-right{
    margin-left:10px;
    margin-right:10px;
}
.sidebar-header-left{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.sidebar-header-left > h1{
    margin-left: 10px;
}
.sidebar-search{
    margin-top:5px;
    display: flex;
    flex-direction:row;
    height:50px;
    padding-top:5px;
    padding-left: 10px;
    align-items:center;
    background-color:aliceblue;
    border:2px solid #142F43;
    border-radius: 5px;
}
.sidebar-search > input{
    /* font-size: 1.2rem; */
    padding:0px 8px 0px 8px;
    border:none;
    border-radius:10px;
    width:auto;
    outline:0;
    height:30px;
    flex:1;
    margin-right: 20px;
    background-color: aliceblue;
}
.sidebar-contacts{
    overflow:auto;
    color:rgb(209, 224, 226);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  

}
.sidebar-contacts::-webkit-scrollbar{
    display:none;
}

.sidebar-header-right-responsive{
    display: none;
    position: absolute;
    flex-direction:column;
    background-color:#142F43;
    padding: 10px;
    float: right;
    right:40px;
    border-radius: 10px 0px 10px 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    box-shadow: 0px 0px 3px white;
    z-index:6;
}

.sidebar-header-right-responsive.hide{
    display:flex;
}
.join-new-room{
    /* background-color:aliceblue; */
    border:2px solid #142F43;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:10px;
    align-items: center;
}

.join-new-room > input{
    padding:0px 8px 0px 8px;
    border:none;
    border-radius:10px;
    max-width: 200px;
    outline:0;
    height:35px;
    flex:1;
    margin-right: 20px;
    background-color: aliceblue;
}

.join-new-room > button{
    border-radius: 20px;
    padding:4px;
    font-size:large;
    font-weight: bold;
    background-color:crimson;
    color:white;
    border:none;
}


.zero-rooms-div{
    top:-110vh;
    
    display:none;
}

.zero-rooms-div.hide{
    position:absolute;
    width:100vw;
    height:100vh;
    z-index: 20;
    background-color:black;
    top:0vh;
    left:0vw;
    display: block;
}

.zero-rooms-div-info{
    position: relative;
    top:30vh;
    left: 10px;
    right: 10px;
}